$color-background: #0e2327;
$color-base: rgba(58, 174, 158, 1);
$color-black: rgba(0, 0, 0, 1);
$color-white: rgba(255, 255, 255, 1);
.MainPageContainer {
  background: $color-white;
  width: 100%;
  .top-wrapper {
    height: 600px;
    overflow: hidden;
    position: relative;
    text-align: center;
    img {
      width: 100%;
      height: 100%;
    }
    h1 {
      color: $color-white;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 100%;
      font-size: 4vw;
      font-weight: 100;
    }
  }
  .logo {
    width: 100%;
    height: 400px;
  }
}